<div class="clock-container">
  <h1 id="clock"></h1>
  <span id="day"></span><span id="date"></span><span id="month"></span>
</div>
<div class="news-container">
  <% @articles.map do |article| %>
    <p class="article-title"><%= article["title"]  %></p>
  <% end %>
</div>
<div class="weather">
  <p>
    <i class="wi wi-owm-<%=@icon_id %> icon"></i>
    <%= @temp %><sup>0</sup><span class="unit">C</span>
  </p>
</div>
