.weather {
  color: $white;
  font-size: 3em;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}

.unit {
  font-size: 0.4em;
  vertical-align: super;
}

.icon {
  height: 4%;
  width: 4%;
  padding-right: 10px;
  position: relative;
  bottom: 0px;

}